
@media screen and (min-width: 750px) {

  .addresses, .transactions, .add-address, .new-addresses, .home {
    max-width: 750px;
    margin: auto;
  }

  .form-tittle, .page-titles {
    font-size: 2em;
  }

  .form-tittle {
    margin-left: 0;
  }

  .form input {
    padding: 12px 16px;
    width: 48%;
  }

  .form {
    justify-content: space-between;
    flex-flow: wrap;
  }

  .list-container {
    width: 80%;
  }

  .adresses-container, .transaction-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .address-list-container, .list-container {
    width: 48%;
  }
}
